<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.zudianlv.mapper.PublishMapper">
    <resultMap id="BaseResultMap" type="club.zudianlv.pojo.Publish">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="publish_id" property="publishId" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="INTEGER"/>
        <result column="yyyy" property="yyyy" jdbcType="VARCHAR"/>
        <result column="week" property="week" jdbcType="INTEGER"/>
        <result column="begin_time" property="beginTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="area_num" property="areaNum" jdbcType="INTEGER"/>
        <result column="weixin" property="weixin" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="LONGVARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <update id="changeCount">
        UPDATE publish SET `count`=#{count} WHERE publish_id=#{publishId}
    </update>

    <update id="statusChange">
        UPDATE publish SET status=#{status} WHERE publish_id=#{publishId}
    </update>

    <!-- 由于服务器端安装的为 mysql5.7 版本 str_to_date 存在问题，因此更改
        SELECT * FROM publish
        WHERE str_to_date(yyyy, '%Y-%m-%d') >= (SELECT curdate())
        AND (str_to_date(end_time, '%H:%i:%s') > (SELECT curtime()))
        order by create_time desc
    -->
    <select id="selectAllByOK" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM publish
        WHERE str_to_date(CONCAT(yyyy," ",end_time), '%Y-%m-%d %H:%i:%s') >= (SELECT now())
        ORDER BY create_time DESC;
    </select>

    <select id="publishListByOpenId" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM publish WHERE open_id=#{openId} ORDER BY create_time DESC;
    </select>
</mapper>